/*
color black: #221D23
color white: #FFF8F0
color red: #A20021
color orange: #D58936
*/

:root {
    box-sizing: border-box;
    font-size: 0.9em;
    /* colors */
    --white: #F5EFFB;
    --color-1: #567C8D;
    --color-2: #C8D9E6;
}

/* hm11 */
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--white);
}

.color-1 {
    background-color: var(--color-1);
}

.color-2 {
    background-color: var(--color-2);
}

.white {
    background-color: var(--white);
}

.displaynone {
    display: none !important;
}

.std-box-shadow {
    /* hm6  */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* hm16 */
#blocked-one,
#blocked-two,
#blocked-three {
    filter: blur(10px);
    pointer-events: none;
}

.site {
    width: 100vw;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

.half {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz-section button {
    width: 150px;
    height: 50px;
    font-size: 2em;
    margin: 10px;
    border: none;
    background-color: var(--white);
}

.quiz-section button:active {
    background-color: var(--color-2);
}

.quiz-section p {
    font-size: 1.5em;
}

.quiz-section input {
    height: 30px;
    width: 100px;
    background-color: var(--white);
    font-size: 1.2em;
    border: none;
}

/* --- Site Persönliche Daten --- */
#personal-data-container {
    width: 500px;
    height: 500px;
    /* hf1 */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.four-box {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}


/* hm4 */
.four-box:hover {
    width: 500px;
    height: 500px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.four-box-content {
    display: none;
}

.four-box:hover .four-box-content {
    display: block;
    margin: 20px;
}

.four-box-icon {
    width: 150px;
    height: 150px;
}

.four-box:hover .four-box-icon {
    display: none;
}

/* --- site Work work experience --- */
section#work-experience .half:last-of-type {
    display: block;
    /*padding: 20px;*/
}

.one-box-hidden {
    width: 100%;
    height: 41%;
    overflow: hidden;
    transition: max-width 0.3s ease;
}

.one-box-hidden.closed {
    width: 0;
    height: 0;
}

.one-box {
    width: 100%;
    /* hm5 */
    height: 10%;
    border: none;
    padding: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one-box img {
    height: 40px;
    width: 40px;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.one-box img.rotated {
    transform: rotate(90deg);
}

.one-box-hidden p {
    padding: 10px 40px 0 40px;
}

.one-box-hidden ul {
    margin: 0 auto;
}

/* --- site school --- */
#school div.half:first-of-type {
    display: flex;
    justify-content: space-around;
}

.hover-container {
    width: 200px;
    height: 80%;
}

.third-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-2);
    transition: transform 0.5s ease;
}

.hover-container:hover .third-box,
.hover-container:hover .third-box h2,
.hover-container:hover .education-content {
    /* hm10 */
    transform: rotateY(180deg);
}

div.third-box h2 {
    margin-bottom: 0;
}

.hover-container:hover .third-box h2 {
    display: none;
}

div.third-box .education-content {
    margin: 0;
    display: none;
}

.hover-container:hover .third-box .education-content {
    display: block;
}

#school div.half img.third-box {
    width: 200px;
    height: 80%;
    /* hm9 */
    object-fit: cover;
}

/* Login site */
#login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

#login-panel {
    width: 300px;
    height: 300px;
    padding: 30px;
    background-color: var(--color-1);
}

#login-panel h1 {
    text-align: center;
    padding-top: 50px;
}

#login-panel form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-panel input {
    width: 100%;
    height: 30px;
    align-self: center;
    margin-bottom: 10px;
    border: none;
    background-color: var(--white);
}

#login-panel button {
    width: 100px;
    height: 30px;
    font-size: 1.2em;
    margin: 10px;
    border: none;
    background-color: var(--white);
}

#login-panel button:active {
    background-color: var(--color-2);
}

#login-panel p {
    text-align: center;
    font-size: 1.2em;
}



